* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 50px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header div {
    margin-right: 2rem;
}


/*  Map css  */

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

.map {
    height: 80%;
    width: 100%;
    background-image: url('../assets/5062f6182e6587ec5ac2fbb07151348a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

